*{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
	box-sizing: border-box;
}


body{
	background-image: linear-gradient(120deg,#686de0,#7ed6df);
	min-height: 100vh;
	transition: all 1s ease;
}

nav{
	width: 100%;
	background: rgba(255,255,255,0.3);
	padding: 10px;
	transition: all 1s ease;
}
nav div{
	max-width: 800px;
	margin: auto;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tlacitko{
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	background: rgba(0,0,0,0.3);	
	color: rgba(255,255,255,0.7);
	transition: all 0.3s;
}

.tlacitko:hover{
	background: rgba(255,255,255,0.5);
	color: rgba(0,0,0,0.7);

}

.container div{
	position: relative;
}

nav h1{
	color: rgba(0,0,0,0.6);
	font-size: 28px;
}

.container{
	max-width: 800px;
	margin: auto;
	padding: 10px;
}
h2{
	text-align: center;
	text-transform: lowercase;
	font-style: italic;
	font-size: 14px;
	color: rgba(230,230,230,0.8);
	font-weight: 200;
	margin: 15px 0;
}
